/* Write your CSS here */
.back-ground-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .back-ground-container {
    height: 100vh;
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.not-found {
  font-family: 'Bree Serif';
  text-align: center;
  font-size: 39px;
  color: #ffffff;
}
