/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  padding-top: 40px;
  font-family: 'Bree Serif';
}

@media (min-width: 992px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    min-height: 100vh;
    background-size: cover;
    padding-top: 40px;
  }
}

.main-heading {
  color: #ffffff;
  font-size: 45px;
  font-weight: bolder;
  margin-left: 20px;
}

.logo-and-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-list-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.loader-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
